@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
}



.Bangers {
  font-family: 'Bangers', cursive;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* For Firefox */
}

/* Wrapper to hide overflow */
.marquee-wrapper {
  height: 500px;
  overflow: hidden;
  position: relative;
}

/* Moving container */
.marquee {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: verticalScroll 12s linear infinite;
}

/* Individual items */
.marquee-item {
  max-width: max-content;
  margin: auto;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Smooth, infinite scrolling */
@keyframes verticalScroll {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-50%);
  }
}

/* Pause animation on hover */
.marquee-wrapper:hover .marquee {
  animation-play-state: paused;
}